@import 'https://unpkg.com/swiper/swiper-bundle.css';
@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap';


*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: 0;
}

:root {
    --color-light: #ffffff;
    --color-mine-shaft: #272626;
    --color-pomegranate: #F12D2F;

    --title-32: 3.2rem;

    --text-16: 1.6rem;

    --font-noto-sans: 'Noto Sans', sans-serif;
}


html { 
    font-size: 62.5%; 
}

body { 
    font-family: var(--font-noto-sans); 
    font-size: var(--text-16); 
    background: var(--color-dark);
}

input, textarea { 
    outline: 0;
}

figure {
    margin: 0;
}

.webapp { 
    overflow: hidden; 
    min-height: 100vh; 
}

a {
    text-decoration: underline;
    color: var(--color-light);
    transition: all .3s ease-in-out;

    &:hover {
        color: var(--color-light);
        opacity: .6;
    }
}

.container {
    max-width: 1400px;
    width: 90%;

    @media(max-width: 768px) {
        width: 100%;
    }
}

.container-fluid {
    width: 100%;
    padding: 0 4rem;
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 1.8rem !important;
}